@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  @apply dark:bg-slate-700 bg-white rounded overflow-hidden shadow-md hover:shadow-lg hover:scale-[1.02] transition duration-150 cursor-pointer relative;
}

.badge {
  @apply dark:text-gray-200 flex items-center absolute top-2 left-2 bg-gray-200 dark:bg-slate-500 rounded-lg px-2 py-1 opacity-90 hover:bg-gray-100 text-sm uppercase font-medium;
}
.btn {
  @apply rounded-full py-2 px-3 uppercase text-xs font-bold cursor-pointer;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
